  </div>
  <div class="container">
    <div id="welcome-greeting">
      <p>Hi! My name is Graham Mutter, I'm a University of Waterloo Computer Science graduate.</p>
      <p>Fueled by a passion for creating quality software, I spend some of my free time making android and web applications.</p>
      <p>I'm fascinated by Artificial Intelligence, and I'm excited about the JavaScript-ification of the web.</p>
      <p>I also enjoy music and everything to do with fitness and athletics.</p>
      <p>You can take a look at my <a href={{baseurl}}/resume.pdf>resume</a> or my <a href=https://github.com/grahammutter> github profile </a> to see some of what I've spent my time doing.</p>
    </div>
  </div>
  <div class ="container">
